*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

ul {
	list-style: none;
}

.header {
	position: sticky;
	top: 0;
	left: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	max-width: 1200px;
	margin: 0 auto;
	z-index: 2;
}

.header-active {
	border-bottom: 1px solid transparent;
	box-shadow: 0 8px 20px rgba(117, 115, 111, 0.2);
	background: #fff;
	max-width: 100%;
}

.header .container {
	padding: 20px;
}

.header__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.header__link {
	display: block;
	width: 100%;
	line-height: 20px;
	text-decoration: none;
	color: #000;
	border: 1px solid #000;
	border-radius: 12px;
	padding: 10px 20px;
	cursor: pointer;
}

.header__link:hover {
	color: rgba(255, 255, 255, 0.7);
	border: 1px solid transparent;
	background: rgba(0, 0, 0, 0.7);
	transition: 0.4s linear;
}

.active {
	border: 1px solid transparent;
	background: #000;
	color: #fff;
}

.header__item:not(:last-child) {
	margin-right: 10px;
}

.code__list {
	z-index: 1;
}

.code__item {
	padding: 40px 0;
}

.code__item-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px;
	border: 1px solid #000;
	border-radius: 12px;
}

.code__item-block:not(:last-child) {
	margin-bottom: 40px;
}

.code__example {
	margin-top: 20px;
}

.title {
	margin-bottom: 20px;
	text-transform: uppercase;
}

.subtitle {
	font-size: 24px;
	line-height: 21px;
	text-transform: uppercase;
}

textarea {
	outline: none;
	border: none;
	overflow: auto;
	resize: none;
	height: 1px;
	width: 1px;
}

.code__example--columns td {
	border: 1px solid #000;
}

.btn-clipboard {
	background: black;
	color: white;
	border-radius: 12px;
	padding: 10px 20px;
	cursor: pointer;
	border: none;
	margin-top: 20px;
	border: 1px solid transparent;
	transition: 0.4s linear;
	width: 120px;
}

.btn-clipboard:hover {
	color: #000;
	background: #fff;
	border: 1px solid #000;
}

.code__item--styles .btn-clipboard {
	margin: 0;
}

.code__item--styles .code__item-block {
	border: none;
	padding: 0;
}

.code__item-single .code__example {
	margin: 0;
}

.code__item--styles .code__example {
	display: none;
}
